<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/bootstrap/js/bootstrap.bundle.js"></script>

</head>
<body>
    <table class="table table-primary table-striped table-bordered table-hover table-sm table-bordered">

        <tr>
            <td>
                <a href="/UserArea/UserAreaHome/Index">Home</a>
            </td>
            <td>
                <a href="/UserArea/Subject/Index">Subject</a>
            </td>
            <td>
                <a href="/UserArea/Author/Index">Author</a>
            </td>
            <td>
                <a href="/UserArea/Book/Index">Book</a>
            </td>
            <td>
                <a href="/UserArea/Sales/Index">Sales</a>
            </td>
            <td>
                <a href="/UserArea/Customer/Index">Customer</a>
            </td>
            <td>
                <a href="/Home/Logout">Log Out</a>
            </td>





        </tr>
    </table>
    <div>
        @RenderBody()
    </div>
</body>
</html>
