
@{
    ViewData["Title"] = "Logout";
    Layout = "~/Areas/UserArea/Views/Shared/_ProjectLayout.cshtml";
}

<h2>Your Are Log Out SuccessFully!</h2>
<h3>For Log In Again <a asp-action="SignIn" asp-controller="Home">Click Here</a></h3>

